*,*::before,*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin-top: 20%;
}

.not-read {
    background-color: rgb(255, 158, 158);
    border: none;
    padding: 0.5rem;
    border-radius: 5px; 
}

.library-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
    gap: 1em;
}

.book {
    border: 1px solid black;
    justify-content: space-around;
}

.new-book-form-hidden {
    scale: 0;
}

.new-book-form-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    transition: 500ms ease-in-out;
    scale: 1;
    border: 1px solid black;
    z-index: 1;
}
